html {
  font-family: Roboto;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  text-align: center;
}

.containerTop {
  background-color: #011827;
  display: flex;
}
.containerTop div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.containerTop img {
  max-width: 128px;
  max-height: 82px;
  margin: 20px 8px 20px 20px;
  padding: 0;
}
.containerTop h3 {
  max-width: 5rem;
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-top: 1.4rem;
  font-weight: bold;
}
.containerTop nav {
  display: none;
}

.bannerHacker {
  width: 100%;
  height: 100%;
}

.onlineBtn {
  background-color: #E3170A;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 2.5rem;
  padding: 0;
}
.onlineBtn a:link,
.onlineBtn a:visited,
.onlineBtn a:active {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  margin: 0;
}

.onlineBtn {
  display: none;
}

.onsiteBtn {
  background-color: #8ACFE5;
  color: #011827;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 2.5rem;
  padding: 0;
}
.onsiteBtn a:link,
.onsiteBtn a:visited,
.onsiteBtn a:active {
  color: #011827;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  margin: 0;
}

.onlineLink:link,
.onlineLink:visited,
.onlineLink:active {
  display: block;
  margin-bottom: 3rem;
  color: #36769D;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
}

.containerReviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}
.containerReviews .review1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.containerReviews .review1 img {
  margin: 2rem 1.5rem;
  max-width: 4rem;
  flex-grow: 0;
}
.containerReviews .review1 article {
  margin-top: 1.5rem;
  margin-right: 5rem;
  flex-grow: 1;
  text-align: left;
  display: block;
  font-size: 1.3rem;
  font-style: italic;
}
.containerReviews .review1 span {
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
  display: block;
  font-style: normal;
  font-size: 1rem;
}
.containerReviews .review2 {
  display: none;
}

.popular {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.roomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin-left: 3rem;
  padding: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.roomContainer .roomIndividual {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  max-width: 360px;
  min-width: 344px;
  padding: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  scroll-snap-align: start;
  scroll-margin-left: 1rem;
}
.roomContainer .roomIndividual h4 {
  font-size: 1.8rem;
  font-weight: normal;
  align-items: start;
  text-align: left;
  margin: 0.5rem 0 0.5rem 1rem;
}
.roomContainer .roomIndividual .hackerImg {
  padding: 0;
  margin: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  max-width: 100%;
  height: auto;
}
.roomContainer .roomIndividual .imgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
}
.roomContainer .roomIndividual .imgContainer img {
  max-width: 20%;
  height: auto;
  margin-right: 0.5rem;
  text-align: left;
  align-items: left;
}
.roomContainer .roomIndividual span {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}
.roomContainer .roomIndividual p {
  width: 100%;
  font-size: 1.1em;
}
.roomContainer .roomIndividual button {
  display: block;
  margin: 1rem 1.4rem;
  background-color: #E3170A;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 4px;
  align-self: flex-end;
}
.roomContainer .roomIndividual button a:link,
.roomContainer .roomIndividual button a:visited,
.roomContainer .roomIndividual button a:active {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  margin: 0;
}

.storyContainer {
  background-color: #011827;
  margin: auto;
  padding: 2rem;
  color: #FFFFFF;
  font-size: 1.6rem;
}
.storyContainer button {
  background-color: #011827;
  color: #8ACFE5;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #8ACFE5;
  border-radius: 3px;
  padding: 0;
  margin: 2.5rem;
}
.storyContainer button a:link,
.storyContainer button a:visited,
.storyContainer button a:active {
  color: #8ACFE5;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  margin: 0;
}

.playOrBuildContainer .flexContainer {
  display: flex;
  flex-wrap: wrap-reverse;
}
.playOrBuildContainer .playWithFriendsImg {
  max-width: 100%;
}
.playOrBuildContainer .playOnlineImg {
  max-width: 100%;
}
.playOrBuildContainer h4 {
  font-size: 2rem;
  margin: 2rem 1rem 1rem 1.5rem;
  text-align: left;
}
.playOrBuildContainer p {
  text-align: left;
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0 2rem 1rem 1rem;
}
.playOrBuildContainer button {
  display: block;
  margin: 2rem 0 3rem 1.5rem;
  background-color: #E3170A;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 1rem 2.8rem 1rem 2.8rem;
  border-radius: 4px;
  align-self: flex-end;
}

footer {
  padding: 2rem 2.5rem 4rem 1rem;
  background-color: #011827;
  text-align: left;
  color: #FFFFFF;
}
footer h5 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.4rem;
}
footer p {
  padding-top: 0.5rem;
  margin-top: 0;
  font-size: 1.1rem;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}
footer ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
footer li {
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .containerTop {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
  }
  .containerTop h3 {
    max-width: 100%;
    font-size: 2rem;
    margin-top: 1.9em;
    text-align: left;
  }
  .containerTop img {
    max-width: 128px;
    max-height: 82px;
    margin-top: 1rem;
  }
  .containerTop nav {
    grid-column: span 2;
    display: block;
    text-align: center;
    justify-content: space-evenly;
  }
  .containerTop a:link,
  .containerTop a:visited,
  .containerTop a:active {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .containerTop a:hover {
    color: #8ACFE5;
  }
  .onlineBtn,
  .onsiteBtn {
    display: inline-block;
    margin-inline: 0.4rem;
    margin-top: -3rem;
  }
  .onlineBtn a,
  .onsiteBtn a {
    font-size: 1.4rem;
  }
  .onlineLink:link,
  .onlineLink:visited,
  .onlineLink:active {
    display: none;
  }
  .containerMiddle {
    display: grid;
    grid-template-columns: 1fr;
  }
  .containerMiddle img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .roomContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem 0;
    margin: 0 1rem;
    gap: 1rem;
    align-items: center;
  }
  .roomIndividual {
    margin: 1rem auto;
    max-width: 360px;
    height: auto;
  }
  .playOrBuildContainer .flexContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .playOrBuildContainer h4 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .playOrBuildContainer p {
    font-size: 1.2rem;
  }
  .playOrBuildContainer button {
    margin: 1rem 0;
  }
  footer {
    padding: 1rem;
  }
  footer h5 {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer li {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
