@mixin reviewContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

@mixin reviewImage {
    margin: 2rem 1.5rem;
    max-width: 4rem;
    flex-grow: 0;
}

@mixin reviewArticle {
    margin-top: 1.5rem;
    margin-right: 5rem;
    flex-grow: 1;
    text-align: left;
    display: block;
    font-size: 1.3rem;
    font-style: italic;
}

@mixin reviewSpan {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    display: block;
    font-style: normal;
    font-size: 1rem;
}

@mixin flexWrapColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin onlineBtn {
    background-color: #E3170A;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin: 2.5rem;
    padding: 0;
}

@mixin onsiteBtn {
    background-color: #8ACFE5;
    color: #011827;
    font-family: "Roboto";
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin: 2.5rem;
    padding: 0;
}

@mixin btnClickArea {
    display: block;
    position: relative;
    z-index: 1;
    padding: 1rem 3rem;
    margin: 0;
}

@mixin onlineLink {
    display: block;
    margin-bottom: 3rem;
    color: #36769D;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}

@mixin linkStyle($color, $text-decoration) {
    color: $color;
    text-decoration: $text-decoration;
}
