@import 'lib.scss';

html {
    font-family: Roboto;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    text-align: center;
}

.containerTop {
    background-color: #011827;
    display: flex;

    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    img {
        max-width: 128px;
        max-height: 82px;
        margin: 20px 8px 20px 20px;
        padding: 0;
    }

    h3 {
        max-width: 5rem;
        color: #FFFFFF;
        font-size: 1.3rem;
        margin-top: 1.4rem;
        font-weight: bold;
    }

    nav {
        display: none;
    }

}

.bannerHacker {
    width: 100%;
    height: 100%;
}

.onlineBtn {
    @include onlineBtn();

    a:link,
    a:visited,
    a:active {
        @include linkStyle(#FFFFFF, none);
        @include btnClickArea();
    }
}

.onlineBtn {
    display: none;
}

.onsiteBtn {
    @include onsiteBtn();

    a:link,
    a:visited,
    a:active {
        @include linkStyle(#011827, none);
        @include btnClickArea();
    }
}

.onlineLink:link,
.onlineLink:visited,
.onlineLink:active {
    @include onlineLink();
}


.containerReviews {
    @include flexWrapColumn();
    align-items: center;
    margin-bottom: 4rem;

    .review1 {
        @include reviewContainer();

        img {
            @include reviewImage();
        }

        article {
            @include reviewArticle();
        }

        span {
            @include reviewSpan();
        }
    }

    .review2 {
        display: none;
    }

}

.popular {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.roomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-left: 3rem;
    padding: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .roomIndividual {
        @include flexWrapColumn();
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        border-radius: 0.5em;
        max-width: 360px;
        min-width: 344px;
        padding: 0;
        margin-bottom: 2rem;
        margin-right: 2rem;
        scroll-snap-align: start;
        scroll-margin-left: 1rem;

        h4 {
            font-size: 1.8rem;
            font-weight: normal;
            align-items: start;
            text-align: left;
            margin: 0.5rem 0 0.5rem 1rem;
        }

        .hackerImg {
            padding: 0;
            margin: 0;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            max-width: 100%;
            height: auto;
        }

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            margin-left: 1.2rem;

            img {
                max-width: 20%;
                height: auto;
                margin-right: 0.5rem;
                text-align: left;
                align-items: left;
            }
        }

        span {
            font-size: 0.8rem;
            margin-left: 0.8rem;
        }

        p {
            width: 100%;
            font-size: 1.1em;
        }

        button {
            @include bookBtn();
            align-self: flex-end;

            a:link,
            a:visited,
            a:active {
                @include linkStyle(#FFFFFF, none);
                @include btnClickArea();
            }
        }
    }
}

.storyContainer {
    background-color: #011827;
    margin: auto;
    padding: 2rem;
    color: #FFFFFF;
    font-size: 1.6rem;

    button {
        @include storyBtn();

        a:link,
        a:visited,
        a:active {
            @include linkStyle(#8ACFE5, none);
            @include btnClickArea();
        }
    }
}

.playOrBuildContainer {

    .bottomContainer {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .playWithFriendsImg {
        width: 100%;
        max-width: 800px;
    }

    .playOnlineImg {
        width: 100%;
        max-width: 800px;
    }

    h4 {
        font-size: 2rem;
        margin: 2rem 1rem 1rem 1.5rem;
        text-align: left;
    }

    p {
        text-align: left;
        font-size: 1.4rem;
        margin: 0.5rem;
        padding: 0 2rem 1rem 1rem;
    }

    button {
        @include onlineBtn();
        display: flex;
        margin-left: 1.5rem;
        margin-bottom: 3rem;

        a:link,
        a:visited,
        a:active {
            @include linkStyle(#FFFFFF, none);
            @include btnClickArea();
        }


    }

}

footer {
    padding: 0.5rem 2.5rem 4rem 1rem;
    margin-top: 5rem;
    background-color: #011827;
    text-align: left;
    color: #FFFFFF;

    h5 {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 1.4rem;
    }

    p {
        padding-top: 0.5rem;
        margin-top: 0;
        font-size: 1.1rem;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    ul {
        margin-top: 0.5em;
        list-style: none;
        text-align: left;
        padding-left: 0;
    }

    li {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 800px) {

    .containerTop {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 1rem;

        h3 {
            max-width: 100%;
            font-size: 2rem;
            margin-top: 1.9em;
            text-align: left;
        }

        img {
            max-width: 128px;
            max-height: 82px;
            margin-top: 1rem;
        }

        nav {
            grid-column: span 2;
            display: block;
            text-align: center;
            justify-content: space-evenly;
        }

        a:link,
        a:visited,
        a:active {
            @include linkStyle(#FFFFFF, none);
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            font-weight: bold;
            font-size: 1.2rem;
        }

        a:hover {
            color: #8ACFE5;
        }

    }

    .onlineBtn,
    .onsiteBtn {
        display: inline-block;
        margin-inline: 0.4rem;
        margin-top: -3rem;

        a {
            font-size: 1.4rem;
        }
    }

    .btnContainer {
        button {
            display: inline-block;
            margin-inline: 0.4rem;
            margin-top: 2rem;

            a {
                font-size: 1.4rem;
            }
        }
    }

    .containerReviews {
        margin: 0 1rem 0 3rem;
        padding-left: 2rem;
    }

    .onlineLink:link,
    .onlineLink:visited,
    .onlineLink:active {
        display: none;
    }

    .containerMiddle {
        display: grid;
        grid-template-columns: 1fr;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .roomContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1rem 0;
        margin: 0 1rem;
        gap: 1rem;
        align-items: center;
    }

    .roomIndividual {
        margin: 1rem auto;
        max-width: 360px;
        height: auto;
    }

    .playOrBuildContainer {
        .bottomContainer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            gap: 1rem;
            align-content: center;
            justify-content: center;
            width: 100%;
        }

        h4 {
            font-size: 2rem;
            margin: 2rem 5rem;
            text-align: center;
        }

        p {
            font-size: 1.4rem;
            text-align: center;
            padding: 0 5rem;
            margin: 0 2rem;
        }

        button {
            display: inline-block;
            margin: 1rem 1rem;
        }

        img {
            display: block;
            grid-row: 1;
            margin: 0 auto;
        }
    }

    footer {
        padding: 1rem;

        h5 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }

        li {
            font-size: 1rem;
        }
    }

}

@media screen and (min-width: 1280px) {

}