@import 'lib.scss';

html {
    font-family: Roboto;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.containerTop {
    width: 100%;
    background-color: #011827;
    display: flex;
    padding-bottom: 1rem;

    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    img {
        max-width: 128px;
        max-height: 82px;
        margin: 20px 8px 20px 20px;
        padding: 0;
    }

    h1 {
        max-width: 5rem;
        color: #FFFFFF;
        font-size: 1.3rem;
        margin-top: 1.4rem;
        font-weight: bold;
    }

    nav {
        display: none;
    }

}

.bannerTop {
    width: 100%;
    height: auto;
}

#toggleBtn {
    display: none;
}

main {

    a:link,
    a:visited,
    a:active {
        .onsiteBtn {
            @include onsiteBtn();
        }
    }





    .onsiteBtn {
        @include onsiteBtn();

        a:link,
        a:visited,
        a:active {
            @include linkStyle(#011827, none);
            //@include btnClickArea();
        }
    }

    .onlineLink:link,
    .onlineLink:visited,
    .onlineLink:active {
        @include onlineLink();
    }
}


.containerReviews {
    margin: 4rem 2rem 4rem 0;

    .review1 {
        max-width: 440px;
        margin: 0 auto;
        overflow: hidden;

        img {
            @include reviewImage();
            float: left;
            max-width: 80px;
            height: auto;
        }

        .reviewText {
            text-align: left;
            overflow: hidden;
        }

        q {
            font-size: 1.4rem;
            quotes: none;
            font-style: italic;
            display: block;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0.5em 0;
            padding: 0;
            text-align: left;
        }
    }

    .review2 {
        @include reviewContainer();

        img {
            @include reviewImage();
            display: none;
        }

        q {
            @include reviewArticle();
            display: none;
            quotes: none;
        }

        p {
            @include reviewSpan();
            display: none;
        }
    }

}

.popularHeading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.roomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 1280px;
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .roomIndividual {
        @include flexWrapColumn();
        box-shadow: 0 0 5px rgba($color: #B6BDB5, $alpha: 1);
        border-radius: 0.5em;
        min-width: 360px;
        padding: 0;
        margin-bottom: 0.5rem;
        margin-right: 2rem;
        scroll-snap-align: start;
        scroll-margin-left: 1rem;

        h3 {
            font-size: 1.8rem;
            font-weight: normal;
            align-items: start;
            text-align: left;
            margin: 0.5rem 0 0.5rem 1rem;
        }

        .hackerImg {
            padding: 0;
            margin: 0;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            max-width: 100%;
            height: auto;
        }

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            margin-left: 1.2rem;

            img {
                max-width: 20%;
                height: auto;
                margin-right: 0.5rem;
                text-align: left;
                align-items: left;
            }
        }

        span {
            font-size: 0.8rem;
            margin-left: 0.8rem;
        }

        p {
            max-width: 100%;
            font-size: 1.1em;
            text-align: left;
            margin-top: 0.5rem;
            margin-left: 1rem;
            margin-right: 0.8rem;
            padding-right: 0.2em;
        }


        a:link,
        a:visited,
        a:active {
            @include bookBtn();
            align-self: flex-end;
            @include linkStyle(#FFFFFF, none);
        }

    }
}

.btnContainer {
    margin-top: 0;
    margin-bottom: 4rem;

    .onlineBtn {
        display: none;
    }
}

.storyContainer {
    background-color: #011827;
    margin: auto;
    padding: 2rem;
    color: #FFFFFF;
    font-size: 1.6rem;

    a:link,
    a:visited,
    a:active {
        @include storyBtn();
        @include linkStyle(#8ACFE5, none);
    }
}

.playOrBuildContainer {
    text-align: left;
    margin-bottom: 2rem;

    .bottomContainer {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;

        .playWithFriendsImg {
            width: 100%;
            height: auto;
            flex-direction: row;
        }

        .textContainer {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            order: -1;
        }
    }

    .bottomContainer2 {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;

        .playOnlineImg {
            width: 100%;
            height: auto;
            margin-top: 3rem;
    
        }

        .textContainer {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            order: -1;
        }
    }

    h4 {
        font-size: 2rem;
        margin: 1.5rem 1rem 0 1rem;
        text-align: left;
    }

    p {
        text-align: left;
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0 0.5rem 0.5rem 0.51rem;
    }

    a:link,
    a:visited,
    a:active {
        display: inline-block;
        @include onlineBtn();
        @include linkStyle(#FFFFFF, none);
    }

}

footer {
    padding: 2rem 2.5rem 4rem 1rem;
    margin-top: 5rem;
    background-color: #011827;
    text-align: left;
    color: #FFFFFF;

    h5 {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 1.3rem;
        font-weight: 500;
    }

    p {
        padding-top: 0.5rem;
        margin-top: 0;
        margin-right: 0.3em;
        font-size: 1.2rem;
        font-weight: 300;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    ul {
        margin-top: 0.5em;
        list-style: none;
        text-align: left;
        padding-left: 0;

        li {
            font-size: 1.2rem;
            margin-top: 0.2em;
        }

        .aTopMargin {
            margin-top: 2rem;
        }
    }


}

@media screen and (min-width: 800px) {

    .containerTop {
        display: flex;
        flex-wrap: wrap;

        h1 {
            max-width: 100%;
            font-size: 2rem;
            margin-top: 1.9em;
            text-align: left;
        }

        img {
            max-width: 128px;
            max-height: 82px;
            margin-top: 1rem;
        }

        nav {
            margin: 2rem auto;
            width: 100%;
            display: block;
            text-align: center;
        }

        a:link,
        a:visited,
        a:active {
            @include linkStyle(#FFFFFF, none);
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            font-weight: bold;
            font-size: 1.5rem;
        }

        a:hover {
            color: #8ACFE5;
        }
    }

    .bannerTop {
        width: 100%;
        max-width: 1280px;
        height: 468px;
        margin: 0 auto;
        object-fit: cover;
    }

    main {
        margin-top: -0.5rem;
    }

    .onlineBtn,
    .onsiteBtn {
        display: inline-block;
        margin-inline: 0.4rem;
        margin-top: -3rem;

        a {
            font-size: 1.4rem;
        }
    }

    .btnContainer {
        button {
            display: inline-block;
            margin-inline: 0.4rem;
            margin-top: 2rem;

            a {
                font-size: 1.4rem;
            }
        }
    }

    .onlineLink:link,
    .onlineLink:visited,
    .onlineLink:active {
        display: none;
    }

    .containerMiddle {
        display: flex;
        flex-direction: column;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .roomContainer {
        display: flex;
        flex-direction: wrap;
        padding: 1rem 0 1rem 1rem;
        margin: 0 1rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .roomIndividual {
        margin: 1rem auto;
        max-width: 360px;
        height: auto;

    }

    .storyContainer {
        height: auto;
        margin: 2rem auto 0 auto;
        background-color: #011827;

        p {
            max-width: 550px;
            margin: 0 auto;
            padding-top: 6rem;
        }

        button {
            margin-bottom: 7rem;
        }
    }

    .playOrBuildContainer {
        max-width: 800px;
        margin: 0 auto;
    }

    footer {
        max-width: 100%;

        div {
            padding: 1rem;
            max-width: 770px;
            margin: auto;
        }
        a:hover {
            color: #8ACFE5;
        }
    }

}

@media screen and (min-width: 1280px) {

    header {
        background-color: #011827;
    }

    .containerTop {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        background-color: #011827;

        div {
            max-width: 100%;

            h1 {
                font-size: 2.5em;
                margin-top: 1.3em;
                margin-left: 0.3em;
            }
        }

        nav {
            display: flex;
            justify-content: center;
            gap: 5rem;
            margin-bottom: 1em;
        }
    }

    .bannerTop {
        width: 100%;
        max-width: 1280px;
        height: 468px;
        margin: -4px auto;
        object-fit: cover;
    }

    main {
        #toggleBtn {
            display: inline-block;
            @include onlineBtn();
            position: absolute;
            translate: -20.5rem -4.5rem;
        }

        #absoluteBtn {
            @include onsiteBtn();
            position: absolute;
            translate: -1.2rem -5.5rem;
        }

        .onlineLink:link,
        .onlineLink:visited,
        .onlineLink:active {
            display: none;
        }
    }

    .containerReviews {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 1200px;
        margin: 2rem auto;
        padding-top: 8rem;

        .review1 {
            grid-column: 1;
            max-width: 550px;
        }

        .review2 {
            grid-column: 2;
            max-width: 550px;
            margin: 0 1rem;
            overflow: hidden;

            img {
                display: inline;
                @include reviewImage();
                float: left;
                max-width: 80px;
                height: auto;
            }

            .reviewText {
                text-align: left;
                overflow: hidden;
            }

            q {
                font-size: 1.4rem;
                quotes: none;
                font-style: italic;
                display: block;
                padding: 0;
                margin: 0;
            }

            p {
                display: block;
                margin: 0.5em 0;
                padding: 0;
                text-align: left;
            }
        }
    }

    .popularHeading {
        margin-top: 6rem;
        margin-bottom: 4rem;
        font-size: 2.3rem;
    }

    .roomContainer {
        margin: 0 auto;
        padding: 0 auto;
        justify-content: space-between;
        overflow: hidden;

        .roomIndividual {
            margin-left: 1rem;
            .imgContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 360px;
            }

            img {
                margin-right: 4px;
                
            }

            span {
                text-align: right;
                margin-left: auto;
                margin-right: 1rem;
            }
        }
    }

    .btnContainer {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 5rem;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;

        .onlineBtn {
            @include onlineBtn();
            display: flex;
            margin: 0;
        }

        .onsiteBtn {
            margin: 0;
        }
        .onsiteBtn:hover {
            color: #011827;
        }

    }
    .playOrBuildContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1280px;
        margin-bottom: 0;
        
        .bottomContainer {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 0;

            .playWithFriendsImg {
                max-width: 50%;
                height: auto;
                order: -1;
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                max-width: 50%;
                margin: 4rem 7rem 0 7rem;

                p {
                    margin-top: 1rem;
                    margin-right: 0;
                    margin-left: -0.4rem;
                    margin-bottom: 1rem;
                    padding-right: 0;
                }

                a {
                    margin-left: 0;
                }
            }
        }

        .bottomContainer2 {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 5rem;

            .playOnlineImg {
                max-width: 50%;
                height: auto;
                order: 1;
                margin-top: 0;
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                max-width: 50%;
                order: -1;
                margin: 4rem 6rem 0 7rem;
                
            }

            p {
                margin: 1rem 0 1rem -0.4rem;
                padding-right: 0;
            }

            a {
                margin-left: 0;
            }
        }

        h4 {
            font-size: 2rem;
            margin: 0;
            text-align: left;
        }

        p {
            text-align: left;
            font-size: 1.5rem;
            margin: 0.5rem 0;
            padding: 0 0.5rem;
        }
    }

    footer {
        padding: 8rem 2rem;
        background-color: #011827;
        text-align: center; // Centrerar innehållet
    }

    .footerWrap {
        display: flex;
        justify-content: space-around; // Justerar jämnt utrymme mellan kolumner
        max-width: 1200px;
        margin: 0 auto;
        gap: 1rem;

        div {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }

    .h5P {
        flex-grow: 2;       
    }

    footer .h5P, footer .h5Map, footer .H5SoMe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        h5 {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            text-align: left;
        }

        p {
            margin-right: -4rem;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0.5rem;
        }
    }

    footer .h5Map h5, ul {
        margin-left: 15rem;
        text-align: left;
    }
    
    footer .H5SoMe {
        margin: 0 2.4rem 0 0;
        padding: 0;
        text-align: left;
        flex-shrink: 1;

        h5 {
            margin-left: 6rem;
        }

        ul {
            margin-left: 6rem;
        }
    }

}

